

.service-card{
   
    text-align: center;
    padding: 2rem;
    margin-top: .5rem;
    height: 20rem;
    background: #FFFFFF;
    box-shadow: 0px 35px 65px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

}

.service-logo img{
    width: 8rem;
    height: 8rem; 
}

